[Unit]
Description=contributors service
After=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/contributor-service
ExecStart=/home/contributor-service/target/release/contributor-service
StandardOutput=journal

[Install]
WantedBy=multi-user.target