[Unit]
Description=contributors service
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/contributor_service
ExecStart=/home/contributor_service/target/release/contributor_service
StandardOutput=journal

[Install]
WantedBy=multi-user.target